/* *{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
} */

/* table{  
    border-color: bisque;
    width: 600px;
    height: 100px;
}

thead > tr{
    background-color: aqua;
}

tr > th{
    text-align: center;
}

tbody > tr >td{
    text-align: center;
}

tr{
    font-size: 40px;
}

tfoot{
    background-color: aqua;
} */